body {
	text-align: center;
	background-image: url("https://s31.postimg.org/u621314ej/GOPR0177.jpg");
	background-size:  cover;
	background-repeat: no-repeat;
}

nav li {
  display: inline-block;

}

li a {
	text-decoration: none;
	color: white;
	font-size: 30px;
	padding: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

a:hover { 
  color: blue;
}

nav {
  background-color: #333333;
  position: fixed;
  width: 100%;
  top: 0;
}

h1 {
	font-family: 'Bubblegum Sans', cursive;
	text-decoration: none;
	color: black;
	font-size: 50px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-top: 150px;
}

p {
	font-size: 25px;
	font-family: 'Bubblegum Sans', cursive;
	text-decoration: none;
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}