body {
	text-align: center;
	background-image: url("http://i49.tinypic.com/bg8ait.jpg");
	position: fixed;
}

li {
	color: red;
	font-size: 15px;
	font-family: cursive;
	text-decoration: none;
}

h1 {
	background-image: url("https://s31.postimg.org/7aswr3qmz/G0010415.jpg");
	width: 350px;
	height: 180px;
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	font-family: cursive;
	color: white;
}

p {
	font-size: 25px;
	font-family: cursive;
	text-decoration: none;
	color: white;
}